html {
  background: url(images/crumpled-paper.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-family: 'La Belle Aurore', cursive;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  padding-top: 6rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p {
  font-family: 'La Belle Aurore', cursive;
  font-size: 6rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}


div {
  margin: 0 auto;
  border: 5px solid #000;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 484px;
  margin: 0 auto;
}

.block, .block-2 {
  margin: auto;
}

#green {
  text-align: center;
  background: #02A651;
  color: #02A651;
  height: 200px;
  width: 200px;
}

#blue {
  background: #0A31AB;
  color: #0A31AB;
  height: 200px;
  width: 200px;
}

#pink {
  background: #ED018D;
  color: #ED018D;
  height: 200px;
  width: 200px;
}

#orange  {
  background: #FF7E00;
  color: #FF7E00;
  height: 200px;
  width: 200px;
}

#layer-one {
  opacity: 100%;
  transition: transform 1s;
  font-family: 'La Belle Aurore', cursive;
  font-size: 1px;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

.blink {
  opacity: 0%;
  transform: opacity;
}

.block-2 {
  height: 200px;
  width: 200px;
}

#greentext {
  color: #02A651;
  background: white;
  border: 5px solid #02A651;
  transition: color 1s;

}

#bluetext {
  color: #0A31AB;
  background: white;
  border: 5px solid #0A31AB;
  transition: color 1s;

}

#pinktext {
  color: #ED018D;
  background: white;
  border: 5px solid #ED018D;
  transition: color 1s;

}

#orangetext  {
  color: #FF7E00;
  background: white;
  border: 5px solid #FF7E00;
  transition: color 1s;

}

.blink {
  color: white;
  transition: color 1s;
}


.fortune {
  height: 400px;
  width: 400px;
  background: white;
  font-size: 3rem;
  padding: 29px 16px;
  line-height: 5rem;
  color: black;
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
}


.hide1, .hide2 {
  display: none;
}
